<!DOCTYPE html>
<html>
  <head>
    <title>Our social medias</title>
      <link href="https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
      <link rel= "stylesheet" href="/style/socialmedia.css">
  </head>
  <body>
    <div>
    <h1>Follow us on Instagram!</h1>
    </div>
    <div class="username">
      <a href="https://www.instagram.com/0sehxun/">@0sehxun</a>
      <br>
      <br>
      <a href="https://www.instagram.com/sam_kash8/?hl=en">@sam_kash8</a>
      <br>
      <br>
      <a href="https://www.instagram.com/headsup_gk/?hl=en">@headsup_gk</a>
      <br>
      <br>
      <img src="https://media2.giphy.com/media/3oEdv82AENw0GKzGIE/giphy.gif" height="auto" width="400px" >
      <img src="https://i.redd.it/gr9b0nb2mrvz.jpg" height="auto" width="400px">
    </div>

  </body>
</html>
